
body {
    font-family: 'Helvetica', Times, serif;
    background: #000000; /* Black */
    color: #ffffff; /* White */
    text-align: center;
    padding: 20px;
}

#controls {
    margin-bottom: 20px;
}

#array-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    min-height: 300px;
    margin-top: 30px;
    gap: 2px;
}

.bar {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 20px;
    font-size: 12px;
    border-radius: 4px 4px 0 0;
    background-color: #ff0000; /* Default bar red */
    color: #ffff00; /* Default number yellow */
}

.bar span {
    margin-bottom: 3px;
}

button, select, input {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #ff0000; /* Red */
    color: #ffffff; /* White */
    cursor: pointer;
}

button:hover {
    background-color: #990000; /* Darker red */
}

select, input {
    background-color: #1a1a1a; /* Dark grey */
    color: #ffff00; /* Yellow */
    border: 1px solid #ffffff; /* White border */
}

#description {
    text-align: left;
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    background-color: #1a1a1a; 
    border: 2px solid #ff0000;
    border-radius: 10px;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.6;
}


li {
    display: list-item;
    list-style-type: "⇒";
    padding-inline-start: 1ch;
  }